<mat-grid-list cols="1" rowHeight="fit">
  <mat-card class="welcome-card">
    <mat-card-title>RxJs Material PWA</mat-card-title>
    <mat-card-subtitle
      >Store for users added to PWA and listed below</mat-card-subtitle
    >
    <mat-card-content class="welcome-card-content">
      <mat-selection-list #users [multiple]="false">
        <mat-list-option *ngFor="let user of (users$ | async )" [value]="user">
          {{ user.fullname }}
        </mat-list-option>
      </mat-selection-list>

      <h2 class="no-users" *ngIf="(users$ | async )?.length === 0">
        <p>
          <mat-icon
            aria-hidden="true"
            aria-label="No user found"
            fontIcon="hide_source"
          ></mat-icon>
        </p>
        No Users In Store
      </h2>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button (click)="openAddUserDialog($event)">ADD USER</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>

<router-outlet></router-outlet>
